<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlexFTPS" version="1.1.0.27735" targetFramework="net461" />
  <package id="AWSSDK" version="1.5.61.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="LinqToTwitter" version="2.1.06" targetFramework="net461" />
  <package id="log4net" version="2.0.5" targetFramework="net461" />
  <package id="Lucene.Net" version="3.0.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.7.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="7.0.0" targetFramework="net461" />
</packages>