 .beerlocator{
    padding-top: 70px;
     background: url(/Assets/Images/home/wtb-bg-m.jpg) center no-repeat;
     min-height: 520px;

     .icon-pin{
      margin:50px auto 50px auto;
     }

     p{
      padding-bottom: 30px;
     }

     a{
      color:white;
     }


     @media all and (min-width:767px) {

    }
  }
