
@{
    ViewBag.Title = "Style Guide";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Location = "styleguide";
}
@section PageSpecificScripts {
}

<section class="section top dark">
    <div class="content contentMax">
        <span class="title">Page Title</span>
        <divider></divider>
        <span class="headline">Headline</span>
        <span class="cta"><a href="">Click Me</a></span>
        <span class="cta dark"><a href="">Click Me</a></span>
        <p>
            Body Copy Latin Text with a <a href="javascript:void()">link</a>
        </p>
    </div>
</section>
<section class="section light alignV">
    <div class="content contentMax">
        <span class="title">Page Title</span>
        <divider></divider>
        <span class="headline">Headline</span>
        <span class="cta"><a href="">Click Me</a></span>
        <span class="cta dark"><a href="">Click Me</a></span>
        <p>
            Body Copy Latin Text
        </p>
    </div>
</section>
<section class="section 2col">
</section>
<section class="light">
</section>

@*//large headline,copy, button  *@
<div class="heading-block-01 whiteText">
    <h2 class="headline-02">COLLEGE FOOTBALL PLAYOFF</h2>
    <p class="heading-copy">Go for game day greatness this season with Dos Equis – The Official Beer sponsor of the 2016 College Football Playoff.</p>
    <span class="cta football"><a href="/collegefootball">LEARN MORE</a></span>
</div>

@* //large headline,button *@
<div class="heading-block-02 content contentMax">
    <h5 class="title">beers & recipes</h5>
    <divider></divider>
    <h2 class="headline-02">ENJOY IT ALONE, OR MIX IT UP</h2>
    <span class="cta dark"><a class="white" href="/productsandrecipes">VIEW ALL</a></span>
</div>

@*small headline, dash, big headline, button *@
<div class="heading-block-03 content contentMax">
    <h5 class="heading-05 title">MOST INTERESTING MAN</h5>
    <divider></divider>
    <h2 class="headline-02">HIS WORLDLY ADVENTURES</h2>
    <span class="cta dark"><a class="white" href="/buildingthelegend">EXPLORE NOW</a></span>
</div>

@*mall headline, dash, big headline, copy, button  *@
<div class="heading-block-04 content contentMax">
    <h5 class="heading-05 title">BREWING</h5>
    <divider></divider>
    <h2 class="headline-02">how dos equis is made</h2>
    <span class="cta"><a href="/buildingthelegend">learn our process</a></span>
</div>


