@import "config/vars";
.legal{
    .section.content{

      padding-left:2rem;
      padding-right:2rem;

      a{
          color:$black;
          font-weight:bold;
          word-wrap: break-word;
          text-decoration: underline;
      }
      @include contentWidth(1000px);
      text-align: left;
      *{
          text-align: left;
          font-size: 22px;
          @media all and (max-width:768px) {
            font-size: 21px;
          }
      }
      p{
          padding-top: 0;
          margin-bottom:1em;
      }

      h1{
        font-family: 'open_sans_condensedbold';
        font-size: 1.4em;
        margin-bottom: .5em;
        @media all and (max-width:768px) {
          font-size: 1.5em;
        }
      }

      .anchor {
        position:relative;
        width: 100%;
        height: 50px;
        padding: 0;
      //  background: #fc0;
        margin-top:-40px;
      }

      li {
        line-height: 1.05em;
        margin-bottom: .8em;

        p{

            margin-bottom:.8em;
        }
      }

      ol {

        margin-left: -20px;

        &.alphanum li {
          list-style: lower-alpha;
        }

      }

      ul {
        margin-top: - .5em;;
        margin-bottom: .8em;
        margin-left: 10px;

        &.disc li {
          padding-left: 20px;
          //list-style-image: url(/Assets/Images/bullit.png);
          background: url(/Assets/Images/bullit.png) no-repeat 0 9px;
          margin-bottom: .5em;
        }
      }

    }

    h2, h3 {
      font-family: 'open_sans_condensed_light';
      font-weight: bold;
      font-size: 1em;
      margin: .8em 0;
    }

    h2 {
      margin:1.5em 0 .8em;
    }
}
