.productdetail {
  /*colors*/ }
  .productdetail .brewingPanel {
    position: relative;
    background: repeat-x bottom url(/assets/images/about/brewingBg.jpg);
    background: #f8f8f8;
    display: flex;
    align-items: center;
    padding: 15% 0; }
    .productdetail .brewingPanel .tout {
      position: absolute;
      top: 0;
      height: 100%;
      padding: 0; }
      .productdetail .brewingPanel .tout.left {
        text-align: left;
        left: 0; }
      .productdetail .brewingPanel .tout.right {
        text-align: right;
        right: 0; }
      .productdetail .brewingPanel .tout canvas {
        height: 100%; }
      @media all and (max-width: 767px) {
        .productdetail .brewingPanel .tout.left {
          left: -8%; }
        .productdetail .brewingPanel .tout.right {
          right: -6%; } }
    .productdetail .brewingPanel > div {
      height: 100%;
      position: relative;
      z-index: 1;
      width: 60%; }
    .productdetail .brewingPanel .headline {
      max-width: 50%;
      margin: 0 auto; }
    .productdetail .brewingPanel .cta {
      padding: 1em 0 0 !important; }
  .productdetail .content-main divider, .productdetail .content-main hr {
    margin-bottom: 1rem; }
  .productdetail .content-main .heading-block-02 {
    padding-bottom: 1rem; }
  .productdetail .ingredients {
    padding-left: 6.25%;
    padding-right: 6.25%;
    background: #fff; }
    .productdetail .ingredients ul li {
      line-height: 1.5; }
  .productdetail .coupon {
    color: #f8f8f8;
    padding: 3rem;
    display: flex;
    justify-content: center; }
    .productdetail .coupon:before {
      content: ' ';
      display: inline-block;
      height: 28px;
      width: 42px;
      background: url(/assets/images/productdetail/scissors-white.png) no-repeat center;
      background-size: auto 100%;
      margin-right: 10px; }
    .productdetail .coupon a {
      margin-left: .2em; }
  .productdetail input[type=text],
  .productdetail input[type=email],
  .productdetail input[type=password],
  .productdetail textarea {
    -webkit-appearance: none; }
  .productdetail input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .productdetail .hero {
    position: relative; }
    .productdetail .hero .heading-copy {
      max-width: 750px;
      width: 100%;
      margin: auto;
      padding-left: 1rem;
      padding-right: 1rem; }
    .productdetail .hero .heading-block-01 {
      margin: 0; }
    .productdetail .hero .xxambar {
      width: 100%;
      margin-top: 30px;
      z-index: 2; }
    .productdetail .hero .xxambar .hline {
      width: 65px;
      height: 1px;
      margin: auto;
      background-color: #ffffff; }
    .productdetail .hero .xxambar .box {
      margin-left: auto;
      margin-right: auto;
      background-image: url(../../../Assets/Images/promotions/xxambar/Overlay.png);
      max-width: 555px;
      height: 154px;
      margin-top: 30px;
      padding-top: 20px;
      text-align: center;
      color: #000000; }
    .productdetail .hero .xxambar .box p#title {
      font-family: cochin-bold;
      font-size: 18pt;
      line-height: 30px; }
    .productdetail .hero .xxambar .box p#desc {
      font-family: open_sans_condensed_light;
      font-size: 15.86pt;
      margin-bottom: 20px; }
    .productdetail .hero .xxambar .box p#title br, .productdetail .hero .xxambar .box p#desc br {
      display: none; }
    .productdetail .hero .scrollbtn {
      bottom: 100px; }
    @media all and (max-width: 767px) {
      .productdetail .hero .fs-vid {
        height: 505px;
        height: calc(100vh - 50px); }
      .productdetail .hero .heading-block-01 {
        position: absolute;
        top: 70px; }
      .productdetail .hero .xxambar .box {
        width: 100%; }
      .productdetail .hero .xxambar .box p#title {
        font-family: cochin-bold;
        font-size: 1.5em;
        line-height: unset; }
      .productdetail .hero .xxambar .box p#desc {
        font-family: open_sans_condensed_light;
        font-size: 15px;
        margin-bottom: 5px; }
      .productdetail .hero .xxambar .box p#title br, .productdetail .hero .xxambar .box p#desc br {
        display: inline; } }
    @media all and (max-width: 374px) {
      .productdetail .hero .fs-vid {
        height: 475px;
        height: calc(100vh - 50px); }
      .productdetail .hero .heading-block-01 {
        position: absolute;
        top: 70px; }
      .productdetail .hero .scrollbtn {
        bottom: 50px; }
      .productdetail .hero .xxambar .box {
        width: 100%; }
      .productdetail .hero .xxambar .box p#title {
        font-family: cochin-bold;
        font-size: 1.5em;
        line-height: unset; }
      .productdetail .hero .xxambar .box p#desc {
        font-family: open_sans_condensed_light;
        font-size: 15px;
        margin-bottom: 5px; }
      .productdetail .hero .xxambar .box p#title br, .productdetail .hero .xxambar .box p#desc br {
        display: inline; } }
    .productdetail .hero .order-find {
      background: transparent;
      position: absolute;
      bottom: 0px;
      max-height: 51px;
      overflow: hidden;
      z-index: 2;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-family: 'open_sans_condensedbold';
      text-transform: uppercase;
      font-size: 12px;
      z-index: 2;
      color: #f8f8f8;
      left: 50%;
      transform: translateX(-50%); }
      .productdetail .hero .order-find .social {
        display: flex;
        align-items: center;
        padding: 32px 0; }
        .productdetail .hero .order-find .social:before {
          content: 'Share:';
          margin-right: .5em; }
        .productdetail .hero .order-find .social a {
          display: inline-block;
          height: 20px;
          width: auto;
          margin-right: .5rem; }
          .productdetail .hero .order-find .social a img {
            display: inline-block;
            height: 100%;
            width: auto; }
      @media (min-width: 768px) {
        .productdetail .hero .order-find {
          width: 465px; } }
      .productdetail .hero .order-find .social {
        padding: 0;
        float: right; }
      .productdetail .hero .order-find input {
        margin-right: 0; }
        @media all and (min-width: 767px) {
          .productdetail .hero .order-find input {
            margin-right: 10px; } }
      .productdetail .hero .order-find .inner {
        background: white;
        padding: 10px 0; }
        @media all and (min-width: 767px) {
          .productdetail .hero .order-find .inner {
            background: rgba(30, 30, 30, 0.8);
            padding: 10px 15px; } }
      .productdetail .hero .order-find .drizly {
        background: white;
        padding: 0;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        color: #f8f8f8; }
        .productdetail .hero .order-find .drizly:hover {
          color: #c7b87e; }
        .productdetail .hero .order-find .drizly:before {
          content: ' ';
          display: inline-block;
          width: 30px;
          height: 30px;
          margin-right: 0px;
          background: url(/assets/images/drizly-white.svg) no-repeat; }
        @media all and (min-width: 767px) {
          .productdetail .hero .order-find .drizly {
            color: white;
            padding: 9px 15px;
            background: rgba(30, 30, 30, 0.8); } }
      .productdetail .hero .order-find input {
        padding: 7px 8px;
        color: #aaa;
        width: auto;
        font-size: 1.1em;
        font-family: 'open_sans_condensed_light'; }
        @media all and (min-width: 767px) {
          .productdetail .hero .order-find input {
            width: 185px; } }
      .productdetail .hero .order-find .find-this-beer-button {
        background: #c7b87e;
        color: #fff;
        padding: 9px 5px;
        margin-left: 0;
        text-decoration: none;
        cursor: pointer; }
        @media all and (min-width: 500px) {
          .productdetail .hero .order-find .find-this-beer-button {
            padding: 9px 9px;
            margin-left: 5px; } }
    @media all and (max-width: 767px) {
      .productdetail .hero .order-find {
        position: relative;
        background: #fff;
        color: #1e1e1e;
        left: 0;
        transform: translateX(0);
        min-width: 320px;
        padding-left: 1.25%;
        padding-right: 1.25%; }
        .productdetail .hero .order-find .drizly {
          color: #1e1e1e;
          margin: 0;
          height: 35px; }
          .productdetail .hero .order-find .drizly:before {
            background-image: url(/assets/images/svg/drizly.svg); }
        .productdetail .hero .order-find .social {
          justify-content: center;
          width: 50%;
          height: 35px;
          border-bottom: 1px solid #1e1e1e; } }
  .productdetail .properties {
    background: #fff; }
    .productdetail .properties .items {
      max-width: 1000px;
      width: 100%;
      margin: auto;
      display: flex;
      padding-top: 1em; }
      .productdetail .properties .items .item {
        border-right: 1px solid #1e1e1e;
        width: 20%; }
        .productdetail .properties .items .item span {
          display: block;
          padding: 5px; }
          .productdetail .properties .items .item span.value {
            font-size: 2em;
            font-family: 'Cochin';
            color: #c7b87e; }
            @media all and (max-width: 767px) {
              .productdetail .properties .items .item span.value {
                font-size: 1.5em; } }
        .productdetail .properties .items .item:last-child {
          border-right: 0; }
  .productdetail .order-find2 {
    position: relative;
    bottom: 0px;
    z-index: 2;
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    font-family: 'open_sans_condensedbold';
    text-transform: uppercase;
    font-size: 12px;
    border-top: 1px solid #1e1e1e;
    margin-top: 20px;
    padding-top: 30px;
    z-index: 2;
    color: #1e1e1e;
    left: 50%;
    transform: translateX(-50%); }
    @media all and (min-width: 767px) {
      .productdetail .order-find2 {
        width: 470px;
        max-width: none; } }
    .productdetail .order-find2 .drizly {
      text-decoration: none;
      display: flex;
      width: 100px;
      align-items: center;
      justify-content: center;
      margin-right: auto;
      color: #1e1e1e; }
      .productdetail .order-find2 .drizly:hover {
        color: #c7b87e; }
      .productdetail .order-find2 .drizly:before {
        content: ' ';
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(/assets/images/drizly-white.svg) no-repeat;
        background-image: url(/assets/images/svg/drizly.svg); }
      @media all and (min-width: 767px) {
        .productdetail .order-find2 .drizly {
          width: 130px; } }
    .productdetail .order-find2 input {
      padding: 7px;
      color: #aaa;
      width: 95px;
      font-size: 1.1em;
      font-family: 'open_sans_condensed_light'; }
      @media all and (min-width: 375px) {
        .productdetail .order-find2 input {
          width: 135px; } }
      @media all and (min-width: 500px) {
        .productdetail .order-find2 input {
          width: 185px; } }
    .productdetail .order-find2 .find-this-beer-button {
      background: #c7b87e;
      color: #fff;
      padding: 9px 5px;
      margin-left: 0;
      text-decoration: none;
      cursor: pointer; }
      @media all and (min-width: 500px) {
        .productdetail .order-find2 .find-this-beer-button {
          padding: 9px 9px;
          margin-left: 5px; } }
  .productdetail .packs {
    background: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    @media all and (max-width: 767px) {
      .productdetail .packs {
        flex-basis: 50%; } }
    .productdetail .packs ul {
      display: inline-block;
      margin: 1rem 3rem;
      width: 110px; }
      @media all and (max-width: 500) {
        .productdetail .packs ul {
          flex: 0 1 calc(50%-10px); } }
      .productdetail .packs ul:before {
        content: ' ';
        height: 300px;
        display: block;
        background: no-repeat bottom;
        background-size: auto 100%;
        padding-left: 10px; }
      .productdetail .packs ul.bottles[data-type="ambar"]:before {
        background-image: url(/assets/images/productdetail/pack-ambar-bottle.jpg); }
      .productdetail .packs ul.bottles[data-type="lager"]:before {
        background-image: url(/assets/images/productdetail/pack-lager-bottle.jpg); }
      .productdetail .packs ul.cans[data-type="ambar"]:before {
        background-image: url(/assets/images/productdetail/pack-ambar-can.jpg); }
      .productdetail .packs ul.cans[data-type="lager"]:before {
        background-image: url(/assets/images/productdetail/pack-lager-can.jpg); }
      .productdetail .packs ul.draught[data-type="ambar"]:before {
        background-image: url(/assets/images/productdetail/pack-ambar-draught.jpg); }
      .productdetail .packs ul.draught[data-type="lager"]:before {
        background-image: url(/assets/images/productdetail/pack-lager-draught.jpg); }
  .productdetail .beer {
    padding-top: 2rem; }

