<section id="brewing" class="section brewingPanel lightBg full-width-tout" data-tout="brewing-full">
        <div class="tout left">
            <canvas id="brewingleft" width="370" height="650"></canvas>
        </div>
        <div class="tout right">
            <canvas id="brewingright" width="370" height="650"></canvas>
        </div>
        <div class="heading-block-03 content">
            <h4 class="headline-04 title"><strong>BREWING</strong></h4>
            <divider></divider>
            <h2 class="headline-02">how dos equis is made</h2>
            <span class="cta"><a href="/about/brewing" data-ga='{"category":"brewingPanel"}'>our process</a></span>
        </div>
</section>
