<div class="contentMax history-slider">
    <div class="heading-block-03 content contentMax">
        <h4 class="headline-04"><strong>History</strong></h4>
        <divider></divider>
        <h2 class="headline-02">IN 1897, A BEER WAS BORN</h2>
    </div>
    <div class="gallery">
        <div class="slider">
            <div><img data-lazy="/Assets/Images/sliders/history/history_mod_1500.jpg"></div>
            <div><img data-lazy="/Assets/Images/sliders/history/history_mod_1897.jpg"></div>
            <div><img data-lazy="/Assets/Images/sliders/history/history_mod_1983.jpg"></div>
            <div><img data-lazy="/Assets/Images/sliders/history/history_mod_2011.jpg"></div>
        </div>
        <nav>
            <a data-slide="0" class="active" href="javascript:void(0)">1500</a>@{
            }<a data-slide="1" href="javascript:void(0)">1897</a>@{
            }<a data-slide="2" href="javascript:void(0)">1983</a>@{
            }<a data-slide="3" href="javascript:void(0)">2011</a>
        </nav>
    </div>
    <span class="cta">
        <a href="/about/history" data-ga='{"category":"historyPanel"}'>EXPLORE NOW</a>
    </span>
</div>
