<!--<div class="beer-recipe-card dark">
    <div class="content white">
        <span class="title">Beers & recipes</span>
        <divider></divider>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="cta">
            <a>see all products</a>
        </div>
    </div>
</div>-->
