@{
    ViewBag.Title = "XXAmbar";
    ViewBag.Location = "xxambar";
    ViewBag.BodyClass = "xxambar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShareImage = "/assets/images/beerlocator/share_beerlocator.jpg";
    ViewBag.MetaDescription = "Find your preferred Dos Equis in stores, bars and restaurants near you.";
}
@section PageSpecificHeader {
    <meta name="keywords" content="xxambar, ambar, dos equis" />
}
@*@section PageSpecificScripts {
}*@

<div class="xxambar-iframe">
    <iframe src="http://dosequisxxambar.com/" allowfullscreen></iframe>
</div>