<div class="dark-wrapper enjoy white">
    <div class="heading-block centered">
        <h2 class="heading-02 date cochin uc">enjoy dos equis responsibly</h2>
        <p class="heading-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="cta padd40">
            <a href="http://www.heineken.com/us/We-are-heineken/Enjoy-Heineken-Responsibly" target="_blank" class="white support">support</a>
        </div>
    </div>
</div>
