<div class="faq">
    <div class="content">
        <h2 class="cochin">FAQ<span>s</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget dignissim nulla.</p>
        <a href="#" class="cta white">discover<i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
</div>
