<!--<div class="history">
    <div class="content">
        <h5 class="cochin">history</h5>
        <img src="/Assets/Images/home/historybg.jpg" />
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.Integer eget dignissim nulla.</p>

        <a href="#" class="cta black">explore<i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
</div>-->