<div class="howitsmade">
    <div class="content">
        <h5 class="cochin uc">how its made</h5>
        <div class="slider single-item">
            <div>
                <h3 class="cochin">step 1</h3>
                <p><strong>MALTING:</strong> Lorem ipsum dolor sit amet, consectetur  adipiscing elit.Integer eget dignissim nulla.</p>
                <img src="/Images/home/slides/slide1.jpg" />
            </div>
            <div>
                <h3 class="cochin">step 2</h3>
                <p><strong>MALTING:</strong> Lorem ipsum dolor sit amet, consectetur  adipiscing elit.Integer eget dignissim nulla.</p>
                <img src="/Images/home/slides/slide1.jpg" />
            </div>
            <div>
                <h3 class="cochin">step 3</h3>
                <p><strong>MALTING:</strong> Lorem ipsum dolor sit amet, consectetur  adipiscing elit.Integer eget dignissim nulla.</p>
                <img src="/Images/home/slides/slide1.jpg" />
            </div>
            <div>
                <h3 class="cochin">step 4</h3>
                <p><strong>MALTING:</strong> Lorem ipsum dolor sit amet, consectetur  adipiscing elit.Integer eget dignissim nulla.</p>
                <img src="/Images/home/slides/slide1.jpg" />
            </div>
            <div>
                <h3 class="cochin">step 5</h3>
                <p><strong>MALTING:</strong> Lorem ipsum dolor sit amet, consectetur  adipiscing elit.Integer eget dignissim nulla.</p>
                <img src="/Images/home/slides/slide1.jpg" />
            </div>
        </div>
        <h4 class="numitems">1/5</h4>
        <a href="#" class="cta">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
</div>
