<div class="date-range-gallery">
    <div id="bottles" class="bottles black">
        <div class="content">
            <div class="slider bottle-items">
                <div class="item one">
                    <img class="unveil" data-lazy="/Assets/Images/partials/packaging/1897.jpg" />
                    <div class="info">
                        <h3 class="cochin">1897-1920</h3>
                        <p class="copy">Beginning</p>
                    </div>
                </div>
                <div class="item two">
                    <img class="unveil" data-lazy="/Assets/Images/partials/packaging/1920.jpg" />
                    <div class="info">
                        <h3 class="cochin">1920-1940</h3>
                        <p class="copy">French Era</p>
                    </div>
                </div>
                <div class="item three">
                    <img class="unveil" data-lazy="/Assets/Images/partials/packaging/1940.jpg" />
                    <div class="info">
                        <h3 class="cochin">1940-1979</h3>
                        <p class="copy">Baillères</p>
                    </div>
                </div>
                <div class="item four">
                    <img class="unveil" data-lazy="/Assets/Images/partials/packaging/1979.jpg" />
                    <div class="info">
                        <h3 class="cochin">1979-1983</h3>
                        <p class="copy">Launch Dos Equis Lager USA</p>
                    </div>
                </div>
                <div class="item five">
                    <img class="unveil" data-lazy="/Assets/Images/partials/packaging/1983.jpg" />
                    <div class="info">
                        <h3 class="cochin">1983-1984</h3>
                        <p class="copy">Re-launch USA</p>
                    </div>
                </div>
                <div class="item six">
                    <img class="unveil" data-lazy="/Assets/Images/partials/packaging/1984.jpg" />
                    <div class="info">
                        <h3 class="cochin">1984-2004</h3>
                        <p class="copy">Re-launch USA</p>
                    </div>
                </div>
                <div class="item seven">
                    <img class="unveil" data-lazy="/Assets/Images/partials/packaging/2004.jpg" />
                    <div class="info">
                        <h3 class="cochin">2004-2011</h3>
                        <p class="copy">Cuauhtémoc – Moctezuma Era</p>
                    </div>
                </div>
                <div class="item eight">
                    <img class="unveil" data-lazy="/Assets/Images/partials/packaging/2011.jpg" />
                    <div class="info">
                        <h3 class="cochin">2011</h3>
                        <p class="copy">Heineken Era</p>
                    </div>
                </div>
                <div class="item nine">
                    <img class="unveil" data-lazy="/Assets/Images/partials/packaging/2016.jpg" />
                    <div class="info">
                        <h3 class="cochin">2016</h3>
                        <p class="copy">Today's design</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="range-slider"></div>
</div>


