<div class="recipeslider">
    <div class="slider recipes">
        <div class="one">
            <div class="content">
                <h3 class="cochin">recipes</h3>
                <hr class="dash"/>
               <h1 class="cochin">the dos-arita</h1>
                <a href="/ProductsAndRecipes/RecipeDetail" class="cta">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="two">
            <div class="content">
                <h3 class="cochin">step 1</h3>
                <p><strong>MALTING:</strong> Lorem ipsum dolor sit amet, consectetur  adipiscing elit.Integer eget dignissim nulla.</p>
                <a href="/ProductsAndRecipes/RecipeDetail" class="cta">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="three">
            <div class="content">
                <h3 class="cochin">step 1</h3>
                <p><strong>MALTING:</strong> Lorem ipsum dolor sit amet, consectetur  adipiscing elit.Integer eget dignissim nulla.</p>
                <a href="/ProductsAndRecipes/RecipeDetail" class="cta">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="four">
            <div class="content">
                <h3 class="cochin">step 1</h3>
                <p><strong>MALTING:</strong> Lorem ipsum dolor sit amet, consectetur  adipiscing elit.Integer eget dignissim nulla.</p>
                <a href="/ProductsAndRecipes/RecipeDetail" class="cta">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

