@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "History";
    ViewBag.Location = "history";
    ViewBag.BodyClass = "history light lightNav";
    ViewBag.ShareImage = "/assets/images/about/timeline/share_history.jpg";
    ViewBag.MetaDescription = "Take a journey through history and see how Dos Equis came to be the iconic beer it is today.";
}

@section PageSpecificHeader {
   <title>History | Dos Equis</title>
    <meta name="keywords" content="history, brewery, moctezuma, wilhelm hasse, siglo xx, import, packaging, evolution" />	
}
<section class="history section top">
    <div class="heading-block-01">
        <h2 class="headline-01">HISTORY</h2>
        <p class="heading-copy">Take a journey through history and see how Dos Equis came to be the iconic beer it is today.</p>
    </div>
    <div id="jump-nav" class="jump-nav">
        <p class="copy jumptobeer">Jump to section</p>
        <section class="jumpnavsection">
            <div class="jumpnav">
                <a class="beerlink" href="#" data-target="timeline-section" data-category="jumpnav" data-label="timeline" data-offset="40">TIMELINE</a>
                <a class="beerlink" href="#" data-target="packaging-gallery" data-category="jumpnav" data-label="packaging" data-offset="60">PACKAGING</a>
            </div>
        </section>
    </div>
    <div id="jump-link-start">
        <div id="timeline-section">
            <div id="timeline-start" class="timeline-start container 1500">
                <div id="date-1500" class="date-container 1500">
                    <div class="heading-block-01">
                    <h2 class="headline-02 gold">1500<span>s</span></h2>
                    <p class="heading-copy copy">Moctezuma, the last leader of the Aztecs, rules the land that is currently known as Mexico. He would come to be the inspiration of the Dos Equis label design. Moctezuma famously confronted the Spanish conquistador, Hernán Cortés, and Dos Equis celebrates his boldness.</p>
                    </div>
                    <div class="canvasholder">
                        <canvas id="moctezuma" class="canvas-full" width="534" height="533"></canvas>
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div id="date-1890" class="date-container 1890">
                    <div class="heading-block-01">
                        <h2 class="headline-02 gold">1890</h2>
                        <p class="heading-copy">Wilhelm Hasse, a German immigrant, arrives in Mexico and founds the Moctezuma Brewery in Veracruz.</p>
                    </div>
                    <div class="canvasholder">
                        <div class="gallery-1890">
                            <div><img data-lazy="/Assets/Images/about/timeline/history-1841-img1.jpg"></div>
                            <div><img data-lazy="/Assets/Images/about/timeline/history-1841-img2.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div id="date-1897" class="date-container 1897">
                    <div class="heading-block-01">
                        <h2 class="headline-02 gold">1897</h2>
                        <p class="heading-copy">Wilhelm Hasse first brews Siglo XX, the beer we know today as Dos Equis Ambar. He named the beer Siglo XX to usher in the upcoming 20th century with the Roman numeral “XX” signifying 20, and the Spanish word “Siglo” meaning century.</p>
                    </div>
                    <div class="canvasholder">
                        <canvas id="esCerveza" class="canvas-full" width="628" height="515"></canvas>
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div id="date-1983" class="1983 date-container">
                    <div class="heading-block-01">
                        <h2 class="headline-02 date">1983</h2>
                        <p class="heading-copy">Dos Equis Lager Especial is imported to the US.</p>
                    </div>
                    <div class="canvasholder">
                        <canvas id="glassOfLager" class="canvas-full" width="566" height="542"></canvas>
                    </div>
                </div>
            </div>
            <div class="vertical-line"></div>
            <div id="date-2009" class="2009 date-container">
                <div class="heading-block-01">
                    <h2 class="headline-02 date">2009</h2>
                    <p class="heading-copy">Dos Equis declared "fastest-growing import in the U.S."</p>
                </div>
                <div class="canvasholder">
                    <canvas id="usMap" class="canvas-full" width="683" height="433"></canvas>
                </div>

            </div>

            <div class="vertical-line"></div>

            <div id="date-2011" class="2011 date-container">
                <div class="heading-block-01">
                    <h2 class="headline-02 date">2011</h2>
                    <p class="heading-copy">Moctezuma in the Dos Equis label design changes direction from left to right. During Moctezuma’s reign, the Aztec Empire was at its peak in wealth, technology and prosperity. His head now faces right, toward the ever-improving future, to recognize forward progress.</p>
                </div>
                <div class="canvasholder">
                    <canvas id="historyEleven" class="canvas-full" width="630" height="560"></canvas>
                </div>

            </div>

            <div class="vertical-line"></div>

            <div id="date-2016" class="2016 date-container">
                <div class="heading-block-01">
                    <h2 class="headline-02 date gold">2016</h2>
                    <p class="heading-copy">Dos Equis packaging is refreshed to look as crisp and fresh as the beer inside. In addition to making the label lighter in color, we brought in elements of the Centenario, a Mexican coin, first minted in 1921 to commemorate the 100th anniversary of Mexico’s independence from Spain. Gold is also part of Mexico's strong heritage. Its riches, art, golden sunlight and the circle symbolize both life and the sun.</p>
                </div>
                <div class="canvasholder">
                    <canvas id="history16" class="canvas-full" width="630" height="540"></canvas>
                </div>
            </div>
        </div>
        <div id="packaging-gallery" class="history-range">
            <div class="content">
                <div class="heading-block-01">
                    <h2 class="headline-02 cochin uc ">PACKAGING EVOLUTION</h2>
                    <p class="heading-copy">Over time, legends evolve.</p>
                </div>
                @Html.Partial("_RangeSliderGallery")
            </div>
        </div>
    </div>
    @*<div class="pre-touts-load animation-element"></div>*@
    <div id="jump-link-end">
        @Html.Partial("_EnjoyResponsiblyPanel")
    </div>
    <section id="bottom-touts" class="section toutsWrapper">
        <div class="touts contentMax whiteText animation-element">
            @Html.Partial("Touts/_BeerRecipe")
            @Html.Partial("Touts/_Brewing")
        </div>
        </div>
    </section>
    </div>
    </div>
</section>

