/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_gold_down_name = 'arrow-gold-down';
$arrow_gold_down_x = 80px;
$arrow_gold_down_y = 207px;
$arrow_gold_down_offset_x = -80px;
$arrow_gold_down_offset_y = -207px;
$arrow_gold_down_width = 46px;
$arrow_gold_down_height = 25px;
$arrow_gold_down_total_width = 297px;
$arrow_gold_down_total_height = 243px;
$arrow_gold_down_image = '~sprite.png';
$arrow_gold_down = 80px 207px -80px -207px 46px 25px 297px 243px '~sprite.png' 'arrow-gold-down';
$arrow_gold_up_name = 'arrow-gold-up';
$arrow_gold_up_x = 34px;
$arrow_gold_up_y = 207px;
$arrow_gold_up_offset_x = -34px;
$arrow_gold_up_offset_y = -207px;
$arrow_gold_up_width = 46px;
$arrow_gold_up_height = 25px;
$arrow_gold_up_total_width = 297px;
$arrow_gold_up_total_height = 243px;
$arrow_gold_up_image = '~sprite.png';
$arrow_gold_up = 34px 207px -34px -207px 46px 25px 297px 243px '~sprite.png' 'arrow-gold-up';
$double_arrows_name = 'double-arrows';
$double_arrows_x = 271px;
$double_arrows_y = 185px;
$double_arrows_offset_x = -271px;
$double_arrows_offset_y = -185px;
$double_arrows_width = 20px;
$double_arrows_height = 22px;
$double_arrows_total_width = 297px;
$double_arrows_total_height = 243px;
$double_arrows_image = '~sprite.png';
$double_arrows = 271px 185px -271px -185px 20px 22px 297px 243px '~sprite.png' 'double-arrows';
$facebook_footer_name = 'facebook-footer';
$facebook_footer_x = 0px;
$facebook_footer_y = 207px;
$facebook_footer_offset_x = 0px;
$facebook_footer_offset_y = -207px;
$facebook_footer_width = 34px;
$facebook_footer_height = 36px;
$facebook_footer_total_width = 297px;
$facebook_footer_total_height = 243px;
$facebook_footer_image = '~sprite.png';
$facebook_footer = 0px 207px 0px -207px 34px 36px 297px 243px '~sprite.png' 'facebook-footer';
$feed_facebook_name = 'feed-facebook';
$feed_facebook_x = 256px;
$feed_facebook_y = 90px;
$feed_facebook_offset_x = -256px;
$feed_facebook_offset_y = -90px;
$feed_facebook_width = 10px;
$feed_facebook_height = 19px;
$feed_facebook_total_width = 297px;
$feed_facebook_total_height = 243px;
$feed_facebook_image = '~sprite.png';
$feed_facebook = 256px 90px -256px -90px 10px 19px 297px 243px '~sprite.png' 'feed-facebook';
$feed_instagram_name = 'feed-instagram';
$feed_instagram_x = 271px;
$feed_instagram_y = 207px;
$feed_instagram_offset_x = -271px;
$feed_instagram_offset_y = -207px;
$feed_instagram_width = 18px;
$feed_instagram_height = 18px;
$feed_instagram_total_width = 297px;
$feed_instagram_total_height = 243px;
$feed_instagram_image = '~sprite.png';
$feed_instagram = 271px 207px -271px -207px 18px 18px 297px 243px '~sprite.png' 'feed-instagram';
$feed_twitter_name = 'feed-twitter';
$feed_twitter_x = 271px;
$feed_twitter_y = 225px;
$feed_twitter_offset_x = -271px;
$feed_twitter_offset_y = -225px;
$feed_twitter_width = 18px;
$feed_twitter_height = 15px;
$feed_twitter_total_width = 297px;
$feed_twitter_total_height = 243px;
$feed_twitter_image = '~sprite.png';
$feed_twitter = 271px 225px -271px -225px 18px 15px 297px 243px '~sprite.png' 'feed-twitter';
$icon_arrow_black_next_name = 'icon-arrow-black-next';
$icon_arrow_black_next_x = 271px;
$icon_arrow_black_next_y = 93px;
$icon_arrow_black_next_offset_x = -271px;
$icon_arrow_black_next_offset_y = -93px;
$icon_arrow_black_next_width = 25px;
$icon_arrow_black_next_height = 46px;
$icon_arrow_black_next_total_width = 297px;
$icon_arrow_black_next_total_height = 243px;
$icon_arrow_black_next_image = '~sprite.png';
$icon_arrow_black_next = 271px 93px -271px -93px 25px 46px 297px 243px '~sprite.png' 'icon-arrow-black-next';
$icon_arrow_black_prev_name = 'icon-arrow-black-prev';
$icon_arrow_black_prev_x = 271px;
$icon_arrow_black_prev_y = 47px;
$icon_arrow_black_prev_offset_x = -271px;
$icon_arrow_black_prev_offset_y = -47px;
$icon_arrow_black_prev_width = 25px;
$icon_arrow_black_prev_height = 46px;
$icon_arrow_black_prev_total_width = 297px;
$icon_arrow_black_prev_total_height = 243px;
$icon_arrow_black_prev_image = '~sprite.png';
$icon_arrow_black_prev = 271px 47px -271px -47px 25px 46px 297px 243px '~sprite.png' 'icon-arrow-black-prev';
$icon_arrow_white_next_name = 'icon-arrow-white-next';
$icon_arrow_white_next_x = 271px;
$icon_arrow_white_next_y = 0px;
$icon_arrow_white_next_offset_x = -271px;
$icon_arrow_white_next_offset_y = 0px;
$icon_arrow_white_next_width = 26px;
$icon_arrow_white_next_height = 47px;
$icon_arrow_white_next_total_width = 297px;
$icon_arrow_white_next_total_height = 243px;
$icon_arrow_white_next_image = '~sprite.png';
$icon_arrow_white_next = 271px 0px -271px 0px 26px 47px 297px 243px '~sprite.png' 'icon-arrow-white-next';
$icon_arrow_white_prev_name = 'icon-arrow-white-prev';
$icon_arrow_white_prev_x = 271px;
$icon_arrow_white_prev_y = 139px;
$icon_arrow_white_prev_offset_x = -271px;
$icon_arrow_white_prev_offset_y = -139px;
$icon_arrow_white_prev_width = 25px;
$icon_arrow_white_prev_height = 46px;
$icon_arrow_white_prev_total_width = 297px;
$icon_arrow_white_prev_total_height = 243px;
$icon_arrow_white_prev_image = '~sprite.png';
$icon_arrow_white_prev = 271px 139px -271px -139px 25px 46px 297px 243px '~sprite.png' 'icon-arrow-white-prev';
$inst_name = 'inst';
$inst_x = 0px;
$inst_y = 147px;
$inst_offset_x = 0px;
$inst_offset_y = -147px;
$inst_width = 60px;
$inst_height = 60px;
$inst_total_width = 297px;
$inst_total_height = 243px;
$inst_image = '~sprite.png';
$inst = 0px 147px 0px -147px 60px 60px 297px 243px '~sprite.png' 'inst';
$instagram_footer_name = 'instagram-footer';
$instagram_footer_x = 226px;
$instagram_footer_y = 170px;
$instagram_footer_offset_x = -226px;
$instagram_footer_offset_y = -170px;
$instagram_footer_width = 36px;
$instagram_footer_height = 36px;
$instagram_footer_total_width = 297px;
$instagram_footer_total_height = 243px;
$instagram_footer_image = '~sprite.png';
$instagram_footer = 226px 170px -226px -170px 36px 36px 297px 243px '~sprite.png' 'instagram-footer';
$list_selected_name = 'list-selected';
$list_selected_x = 226px;
$list_selected_y = 0px;
$list_selected_offset_x = -226px;
$list_selected_offset_y = 0px;
$list_selected_width = 45px;
$list_selected_height = 45px;
$list_selected_total_width = 297px;
$list_selected_total_height = 243px;
$list_selected_image = '~sprite.png';
$list_selected = 226px 0px -226px 0px 45px 45px 297px 243px '~sprite.png' 'list-selected';
$listunselected_name = 'listunselected';
$listunselected_x = 150px;
$listunselected_y = 147px;
$listunselected_offset_x = -150px;
$listunselected_offset_y = -147px;
$listunselected_width = 45px;
$listunselected_height = 45px;
$listunselected_total_width = 297px;
$listunselected_total_height = 243px;
$listunselected_image = '~sprite.png';
$listunselected = 150px 147px -150px -147px 45px 45px 297px 243px '~sprite.png' 'listunselected';
$logo_agegate_name = 'logo-agegate';
$logo_agegate_x = 87px;
$logo_agegate_y = 0px;
$logo_agegate_offset_x = -87px;
$logo_agegate_offset_y = 0px;
$logo_agegate_width = 139px;
$logo_agegate_height = 89px;
$logo_agegate_total_width = 297px;
$logo_agegate_total_height = 243px;
$logo_agegate_image = '~sprite.png';
$logo_agegate = 87px 0px -87px 0px 139px 89px 297px 243px '~sprite.png' 'logo-agegate';
$logo_name = 'logo';
$logo_x = 87px;
$logo_y = 89px;
$logo_offset_x = -87px;
$logo_offset_y = -89px;
$logo_width = 68px;
$logo_height = 42px;
$logo_total_width = 297px;
$logo_total_height = 243px;
$logo_image = '~sprite.png';
$logo = 87px 89px -87px -89px 68px 42px 297px 243px '~sprite.png' 'logo';
$mapselected_name = 'mapselected';
$mapselected_x = 60px;
$mapselected_y = 147px;
$mapselected_offset_x = -60px;
$mapselected_offset_y = -147px;
$mapselected_width = 45px;
$mapselected_height = 45px;
$mapselected_total_width = 297px;
$mapselected_total_height = 243px;
$mapselected_image = '~sprite.png';
$mapselected = 60px 147px -60px -147px 45px 45px 297px 243px '~sprite.png' 'mapselected';
$mapunselected_name = 'mapunselected';
$mapunselected_x = 105px;
$mapunselected_y = 147px;
$mapunselected_offset_x = -105px;
$mapunselected_offset_y = -147px;
$mapunselected_width = 45px;
$mapunselected_height = 45px;
$mapunselected_total_width = 297px;
$mapunselected_total_height = 243px;
$mapunselected_image = '~sprite.png';
$mapunselected = 105px 147px -105px -147px 45px 45px 297px 243px '~sprite.png' 'mapunselected';
$mapview_name = 'mapview';
$mapview_x = 226px;
$mapview_y = 45px;
$mapview_offset_x = -226px;
$mapview_offset_y = -45px;
$mapview_width = 45px;
$mapview_height = 45px;
$mapview_total_width = 297px;
$mapview_total_height = 243px;
$mapview_image = '~sprite.png';
$mapview = 226px 45px -226px -45px 45px 45px 297px 243px '~sprite.png' 'mapview';
$pin_name = 'pin';
$pin_x = 0px;
$pin_y = 0px;
$pin_offset_x = 0px;
$pin_offset_y = 0px;
$pin_width = 87px;
$pin_height = 147px;
$pin_total_width = 297px;
$pin_total_height = 243px;
$pin_image = '~sprite.png';
$pin = 0px 0px 0px 0px 87px 147px 297px 243px '~sprite.png' 'pin';
$searchbtn_name = 'searchbtn';
$searchbtn_x = 226px;
$searchbtn_y = 90px;
$searchbtn_offset_x = -226px;
$searchbtn_offset_y = -90px;
$searchbtn_width = 30px;
$searchbtn_height = 46px;
$searchbtn_total_width = 297px;
$searchbtn_total_height = 243px;
$searchbtn_image = '~sprite.png';
$searchbtn = 226px 90px -226px -90px 30px 46px 297px 243px '~sprite.png' 'searchbtn';
$twitter_footer_name = 'twitter-footer';
$twitter_footer_x = 226px;
$twitter_footer_y = 136px;
$twitter_footer_offset_x = -226px;
$twitter_footer_offset_y = -136px;
$twitter_footer_width = 40px;
$twitter_footer_height = 34px;
$twitter_footer_total_width = 297px;
$twitter_footer_total_height = 243px;
$twitter_footer_image = '~sprite.png';
$twitter_footer = 226px 136px -226px -136px 40px 34px 297px 243px '~sprite.png' 'twitter-footer';
$youtube_name = 'youtube';
$youtube_x = 155px;
$youtube_y = 89px;
$youtube_offset_x = -155px;
$youtube_offset_y = -89px;
$youtube_width = 48px;
$youtube_height = 36px;
$youtube_total_width = 297px;
$youtube_total_height = 243px;
$youtube_image = '~sprite.png';
$youtube = 155px 89px -155px -89px 48px 36px 297px 243px '~sprite.png' 'youtube';
$spritesheet_width = 297px;
$spritesheet_height = 243px;
$spritesheet_image = '~sprite.png';
$spritesheet_sprites = $arrow_gold_down $arrow_gold_up $double_arrows $facebook_footer $feed_facebook $feed_instagram $feed_twitter $icon_arrow_black_next $icon_arrow_black_prev $icon_arrow_white_next $icon_arrow_white_prev $inst $instagram_footer $list_selected $listunselected $logo_agegate $logo $mapselected $mapunselected $mapview $pin $searchbtn $twitter_footer $youtube;
$spritesheet = 297px 243px '~sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
