<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DBContextContainer" connectionString="data source=db.usa2.heineken.com;initial catalog=DosEquis_DotCom;persist security info=True;user id=eurosql;password=xAz73a6rUf;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SocialFeedEntities" connectionString="data source=db.usa2.heineken.com;initial catalog=DosEquis_DotCom;persist security info=True;user id=eurosql;password=xAz73a6rUf;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>