@{
    ViewBag.Title = "College Football Playoff";
    ViewBag.Location = "promotions/cfp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "cfp lightBg lightNav";
    ViewBag.ShareImage = "/assets/images/promotions/cfp/share_cfp.jpg";
    ViewBag.MetaDescription = "Go for Game Day Greatness this season with Dos Equis – The Official Beer Sponsor of the 2016 College Football Playoff.";
}
@section PageSpecificHeader {
    <meta name="keywords" content="college football, college football playoff, official beer, sponsor, game day greatness" />		
}
<section class="section top hero">
    <div class="heading-block-01">
        <h2 class="headline-01">college football playoff</h2>
        <p class="heading-copy">Go for Game Day Greatness this season with Dos Equis – The Official Beer Sponsor of the College Football Playoff. Respect The Game. Don’t Drink More. Drink Better.</p>
            <img class="lockup" src="/Assets/Images/promotions/cfp/sponser-lockup.png" alt="official beer sponsor of the college football playoff"/>
    </div>
</section>
<section class="section main-cta">
    <div class="content">
        <div class="heading-block-01">
            <h2 class="headline-02">enter for a chance to win</h2>
            <p class="heading-copy">Dos Equis is here to upgrade your game day. Enter for a chance to win a VIP experience at the College Football Playoff National Championship in Tampa Bay, plus other prizes drawn every week. No purchase necessary. Must be 21+ to enter. See <a href="https://xxgoforgamedaygreatness.com/rules.html" target="_blank" data-ga='{"category":"cfp"}'>OFFICIAL RULES</a> for details.
            </p>
            <span class="cta">
                <a href="https://xxgoforgamedaygreatness.com/" target="_blank" data-ga='{"category":"cfp"}'>enter to win</a>
            </span>
            <div class="social">
                <a class="fb" href="#" data-fbShare=' {"title":"2016 College Football Playoff | Dos Equis","copy":"Dos Equis is here to upgrade your game day. Enter for a chance to win a VIP experience at the 2016 College Football Playoff.","img":"/assets/images/promotions/cfp/share_cfp.jpg"} ' data-ga='{"category":"cfp","label":"facebook-share"}'><img src="/assets/images/svg/fb.svg" /></a>
                <a class="tw" href="#" data-twShare=' {"text":"Enter for a chance to win a VIP experience at the 2016 College Football Playoff." } ' data-ga='{"category":"cfp","label":"twitter-share"}'><img src="/assets/images/svg/twitter.svg" /></a>
            </div>
        </div>
    </div>
</section>
<section class="section videos">
    <div class="heading-block-03 content contentMax">
        <h4 class="headline-04 title"><strong>GO FOR GAME DAY GREATNESS</strong></h4>
        <divider></divider>
    </div>
    <div class="slider">
        <div class="feature  video-player">
            <div class="player" id="video-1" data-vidid="kdEb7FPOqBM"></div>
            <div class="cover">
                <img src="/assets/images/promotions/cfp/vid_thumb_45.jpg" />
                <span class="play">
                    <svg class="video-overlay-play-button" viewBox="0 0 200 200" alt="Play video">
                        <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"></circle>
                        <polygon points="70, 55 70, 145 145, 100" fill="#fff"></polygon>
                    </svg>
                </span>
            </div>
        </div>
        <div class="feature  video-player">
            <div class="player" id="video-2" data-vidid="4vPAnplJRq0"></div>
            <div class="cover">
                <img src="/assets/images/promotions/cfp/vid_thumb_15.jpg" />
                <span class="play">
                    <svg class="video-overlay-play-button" viewBox="0 0 200 200" alt="Play video">
                        <circle cx="100" cy="100" r="90" fill="none" stroke-width="15" stroke="#fff"></circle>
                        <polygon points="70, 55 70, 145 145, 100" fill="#fff"></polygon>
                    </svg>
                </span>
            </div>
        </div>
    </div>
</section>
<section class="section schedule">
    <div class="content">
        <div class="heading-block-03 content contentMax">
            <h4 class="headline-04 title"><strong>NEW YEAR’S SIX BOWLS &<br /> NATIONAL CHAMPIONSHIP</strong></h4>
            <divider></divider>
        </div>
        <div class="copy">Don’t miss the six major bowl games and National Championship this college football season. <a href="https://xxgoforgamedaygreatness.com/" target="_blank" data-ga='{"category":"cfp"}'>Click here</a> for a chance to win a VIP experience at the College Football Playoff.</div>
        <ul>
            <li class="orange">
                <span class="game">Capital One<br />Orange Bowl</span>
                <span class="time">12/30 – 8pm EST</span>
            </li>
            <li class="peach">
                <span class="game">Chick-fil-A<br />Peach Bowl</span>
                <span class="time">12/31 – 3pm EST</span>
            </li>
            <li class="fiesta">
                <span class="game">Fiesta Bowl</span>
                <span class="time">12/31 – 7pm EST</span>
            </li>
            <li class="cotton">
                <span class="game">Goodyear Cotton<br />Bowl Classic</span>
                <span class="time">1/2 – 12pm EST</span>
            </li>
            <li class="rose">
                <span class="game">Rose Bowl Game Presented by Northwestern Mutual</span> 
                <span class="time">1/2 – 4:30pm EST</span>
            </li>
            <li class="sugar">
                <span class="game">Allstate<br />Sugar Bowl</span>
                <span class="time">1/2 – 8pm EST</span>
            </li>
            <li class="cfc">
                <span class="game">National Championship Game</span>
                <span class="time">1/9 – 8pm EST</span>
            </li>
    </div>
</section>
<section class="newCan">
        <div class="heading-block-03 content ">
            <h4 class="headline-02">Introducing our new can</h4>
        <div class="copy">Tailgate this Game Day with the new Dos Equis can – now available nationally.</div>
        </div>
        <img class="can" src="/assets/images/promotions/cfp/can.jpg" />
        <div class="flex">
            <div class="coupon">
                <p>Save on Dos Equis.</p>
                <a href="http://dosequiscollegefootball.com/" target="_blank" data-ga='{"category":"cfp"}'>Get Coupon</a>
            </div>
            <div class="drizly">
                <p>Order Dos Equis for delivery.</p>
                <a href="http://store.dosequis.com/" target="_blank" data-ga='{"category":"cfp"}' onClick="fbq('track', 'Search');">Order now</a>
            </div>
        </div>
</section>
    @Html.Partial("_EnjoyResponsiblyPanel")
<section id="bottom-touts" class="section toutsWrapper">
    <div class="touts contentMax whiteText animation-element">
        @Html.Partial("Touts/_BeerRecipe")
        @Html.Partial("Touts/_BeerFinder")
    </div>
</section>