<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="twitterConsumerKey" value="JxYwNZk8PH00jasiDD8uw" />
    <add key="twitterConsumerSecret" value="bYJ9fHcYFMHevJbRZTpMNjWRIXRfcdtQkBLu3DZJw" />
    <add key="twitterOAuthToken" value="1470618524-DgpA5NyGijTWYTArZQ3YwpXsE6adFbea4fhwtZA" />
    <add key="twitterAccessToken" value="o2PhWLgUGlTB0GrBKv2PanDqAKDMssxnOnLn4BrSA" />
    <add key="facebook:AppId" value="AppID"/>
    <add key="facebook:AppSecret" value="AppSecret"/>
    <add key="InstragramIDByName" value="https://api.instagram.com/v1/users/search?q={0}&amp;access_token=42578844.ab103e5.1fded3da5a5b480980f41392d9b52a1b" />
    <add key="InstagramFeedsByUserid" value="https://api.instagram.com/v1/users/{0}/media/recent/?access_token=42578844.ab103e5.1fded3da5a5b480980f41392d9b52a1b" />

  </appSettings>
  
</configuration>