<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="InstagramAccessToken" value="50843855.d5146b4.cc4a9ab9fc4b43f8baa3c60d3a36783d" />
    <add key="FacebookPageAccessToken" value="CAACEdEose0cBADvz4JPEMCUCdgaHBH2bFZCHv1K6MEkeSO7db6vt2xXAhwFfkbxfZB6tYZARU9EMoWzYvROjjZCQnMVoNx7uPZAlyRuhwzX1Q8QQrZBO5LubS0fAANE78lakZCPyhYpeuNtk0UQ6mX9YGZCdifAPYhPD8N4yGA8SEAZDZD" />
    <add key="twitterConsumerKey" value="JxYwNZk8PH00jasiDD8uw" />
    <add key="twitterConsumerSecret" value="bYJ9fHcYFMHevJbRZTpMNjWRIXRfcdtQkBLu3DZJw" />
    <add key="twitterOAuthToken" value="1470618524-DgpA5NyGijTWYTArZQ3YwpXsE6adFbea4fhwtZA" />
    <add key="twitterAccessToken" value="o2PhWLgUGlTB0GrBKv2PanDqAKDMssxnOnLn4BrSA" />
    <add key="cacheDurationMin" value="5" />
  </appSettings>
  <connectionStrings>
    <!--<add name="SocialFeedEntities" connectionString="metadata=res://*/DBContext.csdl|res://*/DBContext.ssdl|res://*/DBContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Us-nyc-srv039.globalservs.com;initial catalog=DosEquis_DotCom;persist security info=True;user id=sa;password=Password1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SocialFeedEntities" connectionString="data source=us-nyc-srv039.globalservs.com;initial catalog=DosEquis_DotCom;persist security info=True;user id=sa;password=Password1;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>