.recipeslider{

	a{
		color:white;
	}
	.one{
		padding-top:65px;
	    padding-bottom: 300px;
		background:url(/Images/sliders/recipe1.jpg) center no-repeat;
		background-size: cover;
	}
	.two{
		background:url(/Images/sliders/recipe1.jpg) center no-repeat;
		background-size: cover;
	}
	.three{
		background:url(/Images/sliders/recipe1.jpg) center no-repeat;
		background-size: cover;
	}
	.four{
		background:url(/Images/sliders/recipe1.jpg) center no-repeat;
		background-size: cover;
	}
}