@{
    Layout = null;
}
To: @ViewBag.To
From: @Html.Raw(ViewBag.From)
Subject: Your Stay Thirsty Grant Submission
<!DOCTYPE html>

<html>
<head>
<title>Approved_Rejected</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#282828" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table id="Table_01" width="600" height="861" border="0" border-spacing="0" cellpadding="0" cellspacing="0" background-color="#282828">
	<tr>
		<td colspan="6">
			<a href="http://www.dosequis.com">
				<img src="http://@(ViewBag.HostName)/images/Approved_Rejected_01.jpg" width="600" height="69" border="0" alt=""></a></td>
	</tr>
	<tr>
		<td colspan="6">
			<img src="http://@(ViewBag.HostName)/images/Approved_Rejected_02.jpg" width="600" height="616" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="http://@(ViewBag.HostName)/images/Approved_Rejected_03.jpg" width="100" height="88" alt=""></td>
		<td>
			<a href="https://www.facebook.com/dosequis">
				<img src="http://@(ViewBag.HostName)/images/Approved_Rejected_04.jpg" width="100" height="88" border="0" alt=""></a></td>
		<td>
			<a href="https://twitter.com/dosequis">
				<img src="http://@(ViewBag.HostName)/images/Approved_Rejected_05.jpg" width="100" height="88" border="0" alt=""></a></td>
		<td>
			<a href="http://www.youtube.com/dosequisbeer">
				<img src="http://@(ViewBag.HostName)/images/Approved_Rejected_06.jpg" width="100" height="88" border="0" alt=""></a></td>
		<td>
			<a href="http://instagram.com/dosequis">
				<img src="http://@(ViewBag.HostName)/images/Approved_Rejected_07.jpg" width="100" height="88" border="0" alt=""></a></td>
		<td>
			<img src="http://@(ViewBag.HostName)/images/Approved_Rejected_08.jpg" width="100" height="88" alt=""></td>
	</tr>
	<tr>
		<td colspan="6">
			<img src="http://@(ViewBag.HostName)/images/Approved_Rejected_09.jpg" width="600" height="88" alt=""></td>
	</tr>
</table>
</body>
</html>