<div class="tout about-tout" data-tout="about">
    <div class="content dark">
        <div class="starting-bg"></div>
        <canvas class="hero-graphic" id="aboutTout" width="458" height="558"></canvas>
        <div class="heading-block-04 content">
            <h4 class="headline-04"><strong>about</strong></h4>
            <divider></divider>
            <div class="heading-copy">Learn about our rich history.</div>
            <div class="cta dark">
                <a href="/about" data-ga='{"category":"tout-about"}'>discover more</a>
            </div>
        </div>
    </div>
</div>