<div class="tout beer-recipe-tout" data-tout="beerrecipe">
    <div class="content">
        <div class="starting-bg"></div>
        <canvas class="hero-graphic" id="beerRecipeTout" width="458" height="558"></canvas>
        <div class="heading-block-04 content">
            <h4 class="headline-04"><strong>Beers & recipes</strong></h4>
            <divider></divider>
            <div>Enjoy it alone, or mix it up.</div>
            <div class="cta dark">
                <a href="/beers-and-recipes" data-ga='{"category":"tout-beersandrecipes"}'>view all</a>
            </div>
        </div>
        <div class="desc"></div>
    </div>
</div>
