<div class="tout lager-tout">
    <div class="content">
        <img class="hero-graphic" src="/Assets/Images/touts/lager/background.jpg" />
        <img class="hero-graphic" src="/Assets/Images/touts/lager/product.png">
        <div class="heading-block-04 content">
            <h4 class="headline-04"><strong>dos equies lager especial</strong></h4>
            <divider></divider>
            <div class="heading-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            <div class="cta">
                <a>find out more</a>
            </div>
        </div>
    </div>
</div>