/.vs
/DosEquis.Com/obj
/DosEquis.Com/bin
/DosEquis.Com/DosEquis.Com.csproj.user
/DosEquis.Com.Core/obj
/DosEquis.Com.Core/bin
/DosEquis.Moderate/obj
/DosEquis.Moderate/bin
/DosEquis.Social.Aggregator.Fetcher/obj
/DosEquis.Social.Aggregator.Fetcher/bin
