.howitsmade{
    padding-top: 100px;
    padding-bottom: 50px;

    .slider{
      padding:50px 0;
    }

     img{
      //width: 100%;
      margin: 0 auto;
     }
     
     .content{
        max-width: 1024px;
        margin: 0 auto;
     }

     a{
      color:white;
     }


     @media all and (min-width:767px) {

    }
  }

 
 