
//@font-face
//{
//  font-family: Caslon-Roman;
//  src: url(fonts/Caslon540LTStd-Roman.eot);
//  src:local('?'),
//  url(fonts/Caslon540LTStd-Roman.woff) format("woff"),
//  url(fonts/Caslon540LTStd-Roman.eot?#iefix) format('embedded-opentype'),
//  url(fonts/Caslon540LTStd-Roman.svg#font) format('svg'),
//  url(fonts/Caslon540LTStd-Roman.ttf) format('truetype');
//}
//
//
//@font-face
//{
//  font-family: Caslon-Italic;
//  src: url(fonts/Caslon540LTStd-Italic.eot);
//  src:local('?'),
//  url(fonts/Caslon540LTStd-Italic.woff) format("woff"),
//  url(fonts/Caslon540LTStd-Italic.eot?#iefix) format('embedded-opentype'),
//  url(fonts/Caslon540LTStd-Italic.svg#font) format('svg'),
//  url(fonts/Caslon540LTStd-Italic.ttf) format('truetype');
//}
//
//@font-face
//{
//  font-family: Trade-Gothic;
//  src: url(fonts/TradeGothicLTStd-Cn18.eot);
//  src:local('?'),
//  url(fonts/TradeGothicLTStd-Cn18.woff) format("woff"),
//  url(fonts/TradeGothicLTStd-Cn18.eot?#iefix) format('embedded-opentype'),
//  url(fonts/TradeGothicLTStd-Cn18.svg#font) format('svg'),
//  url(fonts/TradeGothicLTStd-Cn18.ttf) format('truetype');
//}
//
@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('/Assets/fonts/opensans-condbold-webfont.eot');
  src: url('/Assets/fonts/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/Assets/fonts/opensans-condbold-webfont.woff') format('woff'),
  url('/Assets/fonts/opensans-condbold-webfont.ttf') format('truetype'),
  url('/Assets/fonts/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

//
@font-face {
  font-family: 'Cochin';
  src: url('/Assets/fonts/CochinLTStd.eot');
  src: url('/Assets/fonts/CochinLTStdeot?#iefix') format('embedded-opentype'),
  url('/Assets/fonts/CochinLTStd.woff') format('woff'),
  url('/Assets/fonts/CochinLTStd.ttf') format('truetype'),
  url('/Assets/fonts/CochinLTStdsvg#CochinLTStd') format('svg');
  font-weight: normal;
  font-style: normal;
}
//
@font-face {
  font-family: 'open_sans_condensed_light';
  src: url('/Assets/fonts/opensans-condlight-webfont.eot');
  src: url('/Assets/fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
  url('/Assets/fonts/opensans-condlight-webfont.woff') format('woff'),
  url('/Assets/fonts/opensans-condlight-webfont.ttf') format('truetype'),
  url('/Assets/fonts/opensans-condlight-webfont.svg#open_sans_condensedbold') format('svg');
  font-weight: normal;
  font-style: normal;

}
//
//@font-face {
//  font-family: 'FontAwesome';
//  src: url('fonts/fontawesome-webfont.eot');
//  src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
//  url('fonts/fontawesome-webfont.woff') format('woff'),
//  url('fonts/fontawesome-webfont.ttf') format('truetype'),
//  url('fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//
//}
//
